# Environnements virtuels
env_analyse/
venv/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/





# IDE
.vscode/
.idea/

# Garder les dossiers
!data/.gitkeep
!resultats/graphiques/.gitkeep
!resultats/rapports/.gitkeep